
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!--  <span>HOME</span> -->
     <span><a routerLink="/home">HOME</a></span>
     <span class="spacer"></span>
     <a mat-button (click)="onLogOut()">Logout</a>
     <a mat-button routerLink="/create-invoice">create invoice</a>
     <a mat-button routerLink="/manage-invoice">manage invoice</a>
  </mat-toolbar-row>
</mat-toolbar>


<div class="mat-elevation-z8 container">
  <button mat-raised-button class="createButton" color="primary" (click)='Create()'>+ New Creator</button>
    <table mat-table [dataSource]="dataSource">
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
  
        <!-- Get Details -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> actions </th>
            <td mat-cell *matCellDef="let element">  
              <button mat-stroked-button color="primary" (click)="onEdit(element._id)">Edit</button> |  
                <button mat-stroked-button color="warn" (click)="onDelete(element._id)">delete</button> </td>
          </ng-container>
      
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
  </div>
